.profileScreen {
    height: 140vh;
    color: white;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

@media only screen and (max-width: 600px) {
    .profileScreen__body {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        max-width: 0px;
        padding: 144px 26px;
    }
}

.profileScreen__info {
    display: flex;
}

.profileScreen__info > img {
    height: 100px;
}

.profileScreen__plans {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__plans > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

